@font-face {
    font-family: "Myriad Pro";
    src: url("fonts/MYRIADPRO-REGULAR_0.OTF");
}

* {
    margin: 0;
}

body {
    box-sizing: border-box;
}

#head-container {
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.introduction {
    font-size: 48px;
    line-height: 60px;
    color: #FFFFFF;
    font-family: "Myriad Pro", serif;
    font-weight: 300;
    text-align: center;
    position: absolute;
}

.introduction>div>span {
    color: #26ace2;
}

.halo>img {
    width: 100%;
    height: auto;
}

.down-btn {
    position: absolute;
    bottom: 25px;
    left: 50%;
}

#skills-container {
    height: 100vh;
    background-color: #ffffff;
}